<div class="landing-page">
    <h1>Welcome to Metal Management Solutions</h1>
    <input type="text" [(ngModel)]="userName" placeholder="Enter your name" />
    <button (click)="showWelcomeMessage()" [disabled]="!userName">Submit</button>
  </div>
  <div class="image-section"></div>
  <div class="top-left-logo">
    <img src="https://static.wixstatic.com/media/6a08ad_390031ee3da743af852d4da854c4f99d%7Emv2.png/v1/fill/w_192%2Ch_192%2Clg_1%2Cusm_0.66_1.00_0.01/6a08ad_390031ee3da743af852d4da854c4f99d%7Emv2.png"/>
  </div>
   